@font-face {
    font-family: 'semi';
    src: url(./fonts/BarlowSemiCondensed-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'bold';
    src: url(./fonts/BarlowSemiCondensed-Bold.ttf) format('truetype');
}
:root{
    --body-background:radial-gradient(circle at top, 
    #1d3454 0%, 
    #1d3454 20%, 
    #161f40 80%, 
    #161f40 100%);
}
*,
*::after,
*::before{
    box-sizing: border-box;
    transition: all 0.5s ease;
}
/*=====================start styling====================*/
body{
    background: var(--body-background);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
    align-items: center;   
}
header{
    border: 3px solid hsl(217, 16%, 45%);
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 1.5rem;
    border-radius: 15px;
    margin-top: 3rem;
}
.score{
    font-family: 'bold';
    width: 9rem;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 98%);
    align-items: center;
    justify-content: space-evenly;
    border-radius: 7.5px;
}
.score-text{
    
    font-size: 15px;
    margin-top: 8px;
    color: #3655f0;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.score-counter{
    font-size: 4rem;
    color: #535066;
}
/*=================main styling================*/
.inner-circle{
    width: 9rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0px 7px 1px 0px #b8bdd1;
}
.outer-circle{
    width: 12.3rem;
    height: 12.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #536ef5;
    box-shadow: inset 0px -8px 1px 0px #2945c2;
    position: relative;
}
.inner-circle:hover{
    cursor: pointer;
    transform: rotate(27deg);
    transition: all 1s ease;
}
.large-icon {
    font-size: 1rem;
    width: 100%;
    height: 23%;
    overflow: initial;
    position: relative;
    right: 1.5rem;
    bottom: 1.5rem;
}
body  div.outer-circle:nth-child(2){
    background-color: #e8a920;
    box-shadow: inset 0px -8px 1px 0px #c76c1c;
    left: 9rem;
    top: 3rem;
}
body  div.outer-circle:nth-child(4){
    background-color: #de405d;
    box-shadow: inset 0px -8px 1px 0px #991a33;
    bottom: 7rem;
    
}
main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 2rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.triangle{
    position: absolute;
    transform: translateY(50%);
}
body > main > div > div:nth-child(3){
    bottom: 9rem;
    right: 8.5rem;
}
.rules{
    right: 2rem;
    align-self: flex-end;
    font-family: 'semi';
    color: rgba(255, 255, 255, 0.705);
    text-transform: uppercase;
    margin-right: 2rem;
    margin-bottom: 5rem;
    letter-spacing: 2px;
    border: 2px solid #535066;
    padding: 1rem 2rem;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;  
}
body > main > div.container > div:nth-child(4) > div > svg{
    right: 1rem;
    bottom: 1rem;
}
/*===================step 1 media================*/
@media screen and (min-width:1340) {
    
}
@media screen and (max-width:768px) {

    header{
        width:75%;
    }
}
@media screen and (max-width:425px) {
    
    body div.outer-circle:nth-child(2){
        left: 6rem;
        top:2rem
    }
    .outer-circle{
        width: 9.3rem;
        height: 9.3rem;
    }
    .inner-circle{
        width: 7rem;
        height: 7rem;
    }
    body > main > div > div:nth-child(3) {
        bottom: 7rem;
    right: 6rem;
    }
    body div.outer-circle:nth-child(4){
        bottom: 5rem;
    }
    header{
        width:95%;
        padding: 1rem;
    }
    .triangle img{
        width: 14rem;
    }
    .rules{
        margin-bottom: 0;
        margin-right: 0;
        right: 8rem;
    }
}
/*============menu styling=============*/
.menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: white;
    font-family: 'bold';
    font-size: 2rem;
    padding: 2rem;
    border-radius: 15px;
    top: 12rem;
    z-index: 3;
    visibility: hidden; 
}  
.menu-bar{
    display: flex;
    justify-content: space-between;
    color: #3c4061;
}
.menu-bar img{
    height: 20px;
    align-self: center;
    cursor: pointer;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 826.39px;
    z-index: 1;
    filter: brightness(-1.5);
    background-color: black;
    opacity: 0.8;
    visibility: hidden;
}
/*=================step 2 ===============*/
.outer{
    width: 15.3rem;
    height: 15.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
.inner{
    width: 11rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0px 7px 1px 0px #b8bdd1;
}
.blue{
    background-color: #536ef5;
    box-shadow: inset 0px -10px 1px 0px #2945c2;
}
.red{
    background-color: #de405d;
    box-shadow: inset 0px -10px 1px 0px #991a33;
}
.yellow{
    background-color: #e8a920;
    box-shadow: inset 0px -10px 1px 0px #c76c1c;
}
.result{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
}
.user-pick,.house-pick{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    font-family: 'semi';
    color: white;
    letter-spacing: 2px;
}

.placer{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background-color: #182240;
    position: absolute;
    transform: translateY(6rem);
    z-index: -1;
}
body > main > div > div.house-pick > div.outer{
    visibility: hidden;
}
.show-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 4rem;
    font-family: 'semi';
    color: white;
    display: none;
}
.again{
    width: 100%;
    height: 2rem;
    border-radius: 7px;
    font-family: 'semi';
    letter-spacing: 2px;
    border: 0;
    cursor: pointer;
}
.again:hover{
    color: #de405d;
}
.box-shadow{
    box-shadow: 0 0 0 4rem rgba(255, 255, 255, 0.1),
     0 0 0 8rem rgba(255, 255, 255, 0.08),
     0 0 0 12rem rgba(255, 254, 254, 0.06);
}
.rules2{
    right: unset;
    margin-right: unset;
    margin-bottom: unset;
}